* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #06141d;
}

.mui-1ssile9-MuiCardHeader-avatar {
  margin: 0 !important;
}

.mui-1fpo0vu-MuiToolbar-root {
  padding: 0 !important;
}
.add-post {
  width: 100%;
  border: none;
  display: block;
  height: 32px;
  padding: 10px 15px 5px 20px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  background-color: #f1f1f1;
  -webkit-box-shadow: inset 0px 1px 10px 0px rgba(85, 85, 85, 0.2);
  box-shadow: inset 0px 1px 10px 0px rgba(85, 85, 85, 0.2);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  outline: none;
  border: none;
  resize: none;
}

@media (max-width: 1200px) {
  .profile-photo {
    width: 120px !important;
    height: 120px !important;
    bottom: -60px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}
.swal2-container {
  z-index: 9999 !important; /* Adjust as necessary */
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white !important; /* Border color of the OutlinedInput */
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: lightgrey !important; /* Border color on hover */
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important; /* Border color when focused */
}

.MuiInputLabel-root {
  color: white !important; /* Color of the label */
}

.MuiInputLabel-root.Mui-focused {
  color: white !important; /* Color of the label when focused */
}

.MuiInputBase-input {
  color: white !important; /* Color of the input text */
}

.MuiIconButton-root {
  color: white !important; /* Color of the IconButton */
}

.MuiIconButton-root:hover {
  color: lightgrey !important; /* Hover color for the IconButton */
}

.loader {
  display: block;
  position: relative;
  height: 32px;
  width: 200px;
  background: #fff;
  border: 2px solid #fff;
  color: red;
  overflow: hidden;
}
.loader::before {
  content: "";
  background: red;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  animation: loading 10s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  color: rgb(0, 255, 255);
  mix-blend-mode: difference;
  animation: percentage 10s linear infinite;
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes percentage {
  0% {
    content: "0%";
  }
  5% {
    content: "5%";
  }
  10% {
    content: "10%";
  }
  20% {
    content: "20%";
  }
  30% {
    content: "30%";
  }
  40% {
    content: "40%";
  }
  50% {
    content: "50%";
  }
  60% {
    content: "60%";
  }
  70% {
    content: "70%";
  }
  80% {
    content: "80%";
  }
  90% {
    content: "90%";
  }
  95% {
    content: "95%";
  }
  96% {
    content: "96%";
  }
  97% {
    content: "97%";
  }
  98% {
    content: "98%";
  }
  99% {
    content: "99%";
  }
  100% {
    content: "100%";
  }
}
.mui-6hp17o-MuiList-root-MuiMenu-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

div:where(.swal2-container) button:where(.swal2-styled):not([disabled]) {
  background-color: #28343e;
}
.mui-1t73eg3-MuiBadge-badge {
  right: 14px !important;
  top: 5px !important;
}
